In [3]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing

cal = fetch_california_housing()
cal_df = pd.DataFrame(cal.data,columns=cal.feature_names)
cal_df["target"]=cal.target
cal_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [4]:
#Generate sample of n=200
sample = cal_df.sample(n=200,random_state=34)
sample

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
6658,3.0119,22.0,3.772009,1.083521,1005.0,2.268623,34.15,-118.12,1.714
2118,3.9514,27.0,5.017804,0.836795,869.0,2.578635,36.75,-119.72,0.869
12101,5.5563,13.0,6.726190,1.016156,3382.0,2.875850,33.94,-117.34,2.145
4076,7.9625,33.0,6.520599,1.026217,588.0,2.202247,34.14,-118.45,4.908
15872,3.0774,52.0,4.997984,1.038306,1816.0,3.661290,37.76,-122.41,3.000
...,...,...,...,...,...,...,...,...,...
19724,2.6597,38.0,4.336842,0.978947,304.0,3.200000,38.87,-121.69,0.860
15587,3.8750,11.0,9.375465,2.000000,616.0,2.289963,33.04,-116.61,1.981
7435,3.2768,44.0,5.338290,1.007435,850.0,3.159851,33.95,-118.19,1.791
13779,2.5980,21.0,5.045603,1.052117,1351.0,2.200326,34.02,-117.05,1.067
1684,3.2759,18.0,5.340674,1.132124,1895.0,2.454663,38.01,-122.31,1.950

In [5]:
# Sample mean target
sample_mean = sample.target.mean()
sample_mean

2.05651065

In [6]:
# Get z critical
from scipy import stats
z_critical = stats.norm.ppf(q=0.975)  # for 95% confidence interval(CI)
z_critical

1.959963984540054

In [7]:
#Population SD (target column)
pop_std = np.std(cal_df.target)
pop_std

1.1539282040412349

In [8]:
# Margin of error
moe  = z_critical*(pop_std/np.sqrt(200))
moe

0.15992335110057027

In [9]:
#Confidence Interval
(sample_mean-moe),(sample_mean+moe)

(1.8965872988994297, 2.2164340011005703)

In [10]:
## Problem 
pop_mean=5
sample_mean=2
pstd=3 #population standard deviation
sample_size=50

In [11]:
#95% confidence interval
moe = z_critical*(pstd/np.sqrt(50))

In [12]:
lower_bound = (sample_mean-moe)
upper_bound = (sample_mean+moe)

In [13]:
if pop_mean>lower_bound and pop_mean<upper_bound:
    print("Accepted")
else:
    print("Rejected")

Rejected

In [33]:
# When we don't know about population standard deviation then we use t-test
# t-test is of 3 types:-
#1. one sample t-test
#2. independent sample t-test
#3. paired sample t-test

# two tailed test >>> null hypothesis = weight =35kg , weight != 35 kg
# one tailed test >>> left weight > 35kg  right weight < 35kg
stu = pd.read_csv("students.csv")
stu

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8235,818044,"Her, Joshua",Male,22,181,79.1,Protestant,2.91,6th,Environmental Sciences,Social Sciences,73.0,71.0,0,1,36750.087135
8236,560166,"Reid, Jose",Male,23,178,72.6,Catholic,2.03,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
8237,380174,"Villa, Raechelle",Female,20,169,67.7,Other,3.72,3rd,Environmental Sciences,Economics and Finance,77.0,75.0,1,0,NaN
8238,540967,"Ngo, Preston",Male,23,195,98.6,Other,2.74,4th,Social Sciences,Political Science,50.0,46.0,1,1,40112.041834
8239,413207,"Bernhard, Estela",Female,19,170,69.0,Muslim,3.29,>6th,Political Science,Biology,47.0,59.0,1,1,45900.134459

In [ ]:
null_hypo="The average height is 170cms"
alt_hypo="The average height is not 170cms"

In [34]:
#Collect data sample size = 20
sample = stu.height.sample(n=20,random_state=1)
sample

7005    155
3206    185
4544    160
2104    162
3510    159
628     180
537     154
5419    146
645     159
5267    190
1629    157
4837    187
6253    162
7424    166
8142    180
1274    182
3197    181
7854    176
1071    150
1537    177
Name: height, dtype: int64

In [35]:
#determine significance level
alpha = 0.05 #95%
#degree of freedom
dof=19

In [36]:
from scipy.stats import t
p=1-alpha/2
t_critical=t.ppf(p,dof)
t_critical

2.093024054408263

In [37]:
# Calculate t statistic
from scipy.stats import ttest_1samp
t_statistics, p_value = ttest_1samp(sample,170)
t_statistics,p_value

(-0.5253449248436769, 0.6054206573180387)

In [38]:
p_value<alpha

False

In [42]:
males = stu[stu.gender=="Male"]["nc.score"].sample(n=30,random_state=1)

In [44]:
females = stu[stu.gender=="Female"]["nc.score"].sample(n=30,random_state=1)

In [45]:
#
alpha

0.05

In [46]:
dof = (30-1)+(30-1)
dof

58

In [52]:
p=1-alpha/2
t_critical=t.ppf(p,dof)
t_critical

2.0017174830120923

In [48]:
# For independent t-test
from scipy.stats import ttest_ind
t_statistics,p_value=ttest_ind(males,females)
p_value

0.6093286542687024

In [49]:
p_value<alpha

False