In [1]:
##Chi square test when we have to find association between two categorical variables

In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns
df = pd.read_csv("students.csv")
df

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8235,818044,"Her, Joshua",Male,22,181,79.1,Protestant,2.91,6th,Environmental Sciences,Social Sciences,73.0,71.0,0,1,36750.087135
8236,560166,"Reid, Jose",Male,23,178,72.6,Catholic,2.03,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
8237,380174,"Villa, Raechelle",Female,20,169,67.7,Other,3.72,3rd,Environmental Sciences,Economics and Finance,77.0,75.0,1,0,NaN
8238,540967,"Ngo, Preston",Male,23,195,98.6,Other,2.74,4th,Social Sciences,Political Science,50.0,46.0,1,1,40112.041834
8239,413207,"Bernhard, Estela",Female,19,170,69.0,Muslim,3.29,>6th,Political Science,Biology,47.0,59.0,1,1,45900.134459

In [4]:
# goodness of fit  >>> to check whether a variable is likely to come in a specific distribution
# independence >>>> association b/w two categorical variables

In [16]:
df = df.dropna()

Q. Find whether there is equal proportion of males and females in university?

In [17]:
#Hypothesis
null_hypo="Proportion is same"
alt_hypo="Proportion is not same"

In [18]:
#samples = 500
df["gender"]

11      Female
13        Male
14      Female
17      Female
28        Male
         ...
8229    Female
8234      Male
8235      Male
8238      Male
8239    Female
Name: gender, Length: 1753, dtype: object

In [19]:
pd.crosstab(df["gender"].sample(n=500,random_state=1), df["gender"].sample(n=500,random_state=1))

gender  Female  Male
gender
Female     193     0
Male         0   307

In [20]:
#270+230 =500(sample size)

In [21]:
#alpha 
alpha = 0.05

In [33]:
#p = 1-alpha/2
p=1-alpha/2
dof=1
from scipy.stats import chi2,chisquare
critical_value = chi2.ppf(p,dof)
critical_value

5.023886187314888

In [37]:
chisquare([193,307],[250,250])

Power_divergenceResult(statistic=25.992, pvalue=3.4283506780566255e-07)

In [38]:
stat,p_value=chisquare([193,307],[250,250])

In [39]:
p_value

3.4283506780566255e-07

In [40]:
stat

25.992

In [42]:
if -(critical_value) < (stat) < +(critical_value):
    print("Null Hypothesis Accepted")
else:
    print("Null Hypothesis Rejected")

Null Hypothesis Rejected

In [67]:
# New Chi square test for two different columns
null_hypo = "no relationship b/w gender and major"
alt_hypo = "relationship b/w gender and major"

In [68]:
data_table = pd.crosstab(df.major,df.gender)
data_table

gender                      Female  Male
major
Biology                        152   178
Economics and Finance           73   222
Environmental Sciences         114   231
Mathematics and Statistics      48   240
Political Science              164   125
Social Sciences                123    83

In [69]:
alpha=0.05

In [70]:
p=1-alpha/2
dof=(6-1)*(2-1)   # Using two columns both categories find out and -1 and then multiply them
cric = chi2.ppf(p,dof)# Critical value
cric

12.832501994030027

In [71]:
from scipy.stats import chi2_contingency
stat,p_value,dof,exp = chi2_contingency(data_table)
stat

173.71857686007684

In [72]:
p_value

1.1736988372787206e-35

In [73]:
dof

5

In [74]:
exp

array([[126.87963491, 203.12036509],
       [113.42270394, 181.57729606],
       [132.64689104, 212.35310896],
       [110.73131774, 177.26868226],
       [111.11580148, 177.88419852],
       [ 79.20365088, 126.79634912]])

In [75]:
if alpha > p_value:
    print("Null Reject")
else:
    print("Null Accepted")

Null Reject