In [1]:
#Day 2 Numpy Case Study

In [29]:
import pandas as pd
import numpy as np
import random

movie_id=np.arange(1301,2301)
movie_id

array([1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311,
       1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322,
       1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333,
       1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344,
       1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355,
       1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366,
       1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377,
       1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388,
       1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399,
       1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410,
       1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421,
       1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432,
       1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443,
       1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454,
       1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465,
       1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476,
       1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487,
       1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498,
       1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509,
       1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520,
       1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531,
       1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542,
       1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553,
       1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564,
       1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575,
       1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586,
       1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597,
       1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608,
       1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619,
       1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630,
       1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641,
       1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652,
       1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663,
       1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674,
       1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685,
       1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696,
       1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707,
       1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718,
       1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729,
       1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740,
       1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751,
       1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762,
       1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773,
       1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784,
       1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795,
       1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806,
       1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817,
       1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828,
       1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839,
       1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850,
       1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861,
       1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872,
       1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883,
       1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894,
       1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905,
       1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916,
       1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927,
       1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938,
       1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949,
       1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026,
       2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048,
       2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
       2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070,
       2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081,
       2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092,
       2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103,
       2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114,
       2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125,
       2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136,
       2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147,
       2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158,
       2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169,
       2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180,
       2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191,
       2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202,
       2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213,
       2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224,
       2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2235,
       2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244, 2245, 2246,
       2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257,
       2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268,
       2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279,
       2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290,
       2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300])

In [30]:
arr=np.full(1000,-1)
arr

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1])

In [31]:
movies_to_rate=random.randint(0,1000)
movies_to_rate  #Randomly selecting movies to be rated

179

In [32]:
places=random.sample(range(0,999),movies_to_rate)
places

[106,
 95,
 972,
 874,
 64,
 181,
 279,
 378,
 55,
 134,
 966,
 598,
 865,
 689,
 902,
 762,
 139,
 336,
 820,
 409,
 986,
 335,
 404,
 358,
 804,
 886,
 453,
 529,
 56,
 28,
 311,
 16,
 454,
 217,
 839,
 114,
 23,
 329,
 905,
 927,
 478,
 538,
 493,
 527,
 419,
 574,
 817,
 72,
 871,
 507,
 585,
 254,
 153,
 413,
 883,
 83,
 417,
 923,
 674,
 496,
 530,
 265,
 858,
 322,
 807,
 915,
 29,
 400,
 757,
 884,
 138,
 148,
 184,
 516,
 81,
 854,
 14,
 509,
 76,
 455,
 49,
 289,
 230,
 668,
 845,
 997,
 437,
 222,
 174,
 730,
 421,
 47,
 722,
 234,
 150,
 909,
 803,
 934,
 594,
 832,
 601,
 73,
 523,
 324,
 348,
 774,
 66,
 747,
 546,
 834,
 811,
 6,
 719,
 654,
 789,
 950,
 537,
 340,
 683,
 917,
 398,
 346,
 3,
 35,
 956,
 10,
 885,
 109,
 433,
 535,
 19,
 665,
 579,
 618,
 660,
 132,
 62,
 125,
 140,
 873,
 472,
 79,
 977,
 693,
 815,
 135,
 712,
 367,
 103,
 626,
 260,
 512,
 244,
 776,
 397,
 791,
 505,
 534,
 611,
 655,
 314,
 13,
 818,
 687,
 862,
 554,
 456,
 331,
 942,
 256,
 671,
 499,
 805,
 935,
 353,
 418,
 379,
 619,
 264]

In [33]:
for i in arr:
  for index in places:
     arr[index] = random.randint(0,10)

In [34]:
arr

array([-1, -1, -1,  4, -1, -1,  7, -1, -1, -1,  2, -1, -1,  8, 10, -1,  9,
       -1, -1,  2, -1, -1, -1,  8, -1, -1, -1, -1,  0,  8, -1, -1, -1, -1,
       -1,  5, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  6, -1,  2, -1,
       -1, -1, -1, -1,  5,  8, -1, -1, -1, -1, -1,  5, -1,  9, -1,  2, -1,
       -1, -1, -1, -1, 10, 10, -1, -1,  9, -1, -1,  6, -1,  2, -1,  0, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  8, -1, -1, -1, -1, -1, -1,
       -1,  1, -1, -1, 10, -1, -1,  6, -1, -1, -1, -1,  0, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1,  4, -1, -1, -1, -1, -1, -1,  4, -1,  3,  8,
       -1, -1,  1,  1,  9, -1, -1, -1, -1, -1, -1, -1,  3, -1,  4, -1, -1,
        3, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1,  4, -1, -1, -1, -1, -1, -1,  3, -1, -1,  0, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 10, -1, -1, -1,
       -1,  3, -1, -1, -1, -1, -1, -1, -1,  4, -1, -1, -1,  2, -1, -1, -1,
       -1, -1, -1, -1, -1, -1,  7, -1, -1, -1, -1, -1, -1, -1, -1, -1,  4,
       -1,  0, -1, -1, -1,  3, -1, -1, -1,  5,  3, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1,  8, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        2, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1,  3, -1, -1,  7, -1, -1, -1, -1, -1, -1, -1,  2,
       -1,  6, -1, -1, -1, -1,  5, -1,  0, -1, -1, -1,  3,  8, -1, -1, -1,
        1, -1, -1, -1, -1, -1,  5, -1,  4, -1, -1, -1, -1,  6, -1, -1, -1,
       -1,  6, -1, -1, -1, -1, -1, -1, -1, -1,  7, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1,  2,  0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1,  2,  4, -1,  1, -1, -1, -1,  2, -1, -1, -1,
       -1, 10, -1, -1, -1,  8, -1, -1, -1,  9,  8,  2, -1,  7, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1,  7, -1, -1, -1, 10, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  1,  0,  5,  2, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  5, -1, -1, -1,
       -1, -1, 10, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        4, -1, -1,  0, -1, -1,  5, -1, -1, -1, -1, -1,  0, -1,  1, -1, 10,
       -1, -1,  1, -1, -1, -1,  7, -1, -1, -1, -1, -1, -1,  9, -1, -1, -1,
        7, -1,  8,  1, -1, -1, -1,  9,  5, -1,  8, 10, -1, -1, -1, -1, -1,
       -1, -1, 10, -1, -1, -1, -1, -1, -1, -1,  8, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  9, -1, -1, -1,
       -1,  9, -1, -1, -1, -1, -1,  2, -1, -1, -1, -1, -1, -1, -1, -1,  8,
       -1, -1, -1,  2, -1, -1,  9, -1, -1, -1, -1, -1, -1, -1, -1, -1,  2,
       -1, -1, -1, -1, -1, -1,  9,  7, -1, -1, -1, -1, -1, -1,  8, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1,  0,  4, -1, -1, -1, -1, 10, -1, -1,
       -1, -1,  0, -1, -1,  2, -1, -1,  0, -1, -1,  3, -1, -1, -1, -1, -1,
       -1, -1, -1,  1, -1, -1, -1,  2, -1, 10, -1, -1, -1,  2, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1,
       -1, -1, -1, -1, -1,  8, -1, -1,  9, -1, -1, -1, -1, -1, -1, -1, 10,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  5,
       -1, -1, -1, -1, -1, -1, -1, -1, -1,  1, -1, -1, -1, -1,  0, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1,  5, -1,  7, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1,  6, -1,  0, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1,  7,  5,  4, -1,  7, -1, -1, -1,  9, -1, -1, -1,  3,
       -1,  6,  7, -1,  1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  9,
       -1,  7, -1, -1, -1, -1, 10, -1, -1, -1, -1, -1,  2, -1, -1, -1, -1,
       -1, -1, -1, -1,  9, -1, -1, -1,  3, -1, -1, -1,  4, -1, -1,  7, -1,
       -1, -1, -1, -1, 10, -1,  2,  7, -1, -1, -1, -1, -1, -1, -1, -1,  3,
        9,  8,  6, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1,  0, -1, -1,  9, -1, -1, -1, 10, -1, -1, -1, -1, -1,  1, -1,  4,
       -1, -1, -1, -1, -1,  8, -1, -1, -1,  2, -1, -1, -1, -1, -1, -1,  9,
        8, -1, -1, -1, -1, -1, -1,  9, -1, -1, -1, -1, -1, -1, -1, 10, -1,
       -1, -1, -1, -1, 10, -1, -1, -1, -1, -1, -1, -1, -1, -1,  1, -1, -1,
       -1, -1, -1,  9, -1, -1, -1, -1,  6, -1, -1, -1, -1, -1, -1, -1, -1,
       10, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  7, -1, -1])

In [35]:
users=100
movies=1000
movie_matrix=np.random.randint(-1,11,size=(users,movies))
movie_matrix

array([[ 2,  3,  8, ..., -1, 10, 10],
       [ 5, 10,  3, ...,  3,  3,  7],
       [ 1,  4,  8, ...,  7,  6,  0],
       ...,
       [ 7,  8,  5, ...,  0,  0,  8],
       [ 6, -1,  9, ...,  2, 10,  5],
       [ 3, 10,  3, ...,  5,  6,  3]])

In [36]:
df=pd.DataFrame(movie_matrix,columns=movie_id)
df

,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,...,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300
0,2,3,8,9,0,1,2,9,3,0,...,10,0,2,4,-1,10,1,-1,10,10
1,5,10,3,7,7,5,2,10,1,1,...,6,6,3,2,5,6,6,3,3,7
2,1,4,8,8,10,6,-1,5,-1,1,...,4,0,-1,7,5,5,6,7,6,0
3,7,5,3,7,10,-1,4,2,9,8,...,8,2,1,2,10,-1,0,-1,8,9
4,1,6,9,2,3,2,10,8,3,8,...,9,8,0,1,9,6,7,4,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,-1,4,9,8,7,9,8,4,0,...,0,6,1,3,5,7,8,6,5,5
96,8,2,6,5,6,6,8,5,8,8,...,-1,0,5,3,3,3,-1,1,10,1
97,7,8,5,5,1,2,2,9,10,0,...,5,9,9,8,1,4,7,0,0,8
98,6,-1,9,7,10,-1,4,5,4,6,...,4,3,10,3,7,-1,9,2,10,5
99,3,10,3,7,5,3,3,-1,2,9,...,6,3,7,5,6,-1,6,5,6,3

In [46]:
# Appended users=10 movies=50
new_movie_id=np.arange(2301,2351)

,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,...,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350
0,2,3,8,9,0,1,2,9,3,0,...,-1,7,3,8,1,5,6,6,1,2
1,5,10,3,7,7,5,2,10,1,1,...,-1,7,3,8,1,5,6,6,1,2
2,1,4,8,8,10,6,-1,5,-1,1,...,-1,7,3,8,1,5,6,6,1,2
3,7,5,3,7,10,-1,4,2,9,8,...,-1,7,3,8,1,5,6,6,1,2
4,1,6,9,2,3,2,10,8,3,8,...,-1,7,3,8,1,5,6,6,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,-1,4,9,8,7,9,8,4,0,...,-1,7,3,8,1,5,6,6,1,2
96,8,2,6,5,6,6,8,5,8,8,...,-1,7,3,8,1,5,6,6,1,2
97,7,8,5,5,1,2,2,9,10,0,...,-1,7,3,8,1,5,6,6,1,2
98,6,-1,9,7,10,-1,4,5,4,6,...,-1,7,3,8,1,5,6,6,1,2
99,3,10,3,7,5,3,3,-1,2,9,...,-1,7,3,8,1,5,6,6,1,2

In [49]:
new_movie_user=np.arange(101,111)
#new_movie_user
df

,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,...,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350
0,2,3,8,9,0,1,2,9,3,0,...,-1,7,3,8,1,5,6,6,1,2
1,5,10,3,7,7,5,2,10,1,1,...,-1,7,3,8,1,5,6,6,1,2
2,1,4,8,8,10,6,-1,5,-1,1,...,-1,7,3,8,1,5,6,6,1,2
3,7,5,3,7,10,-1,4,2,9,8,...,-1,7,3,8,1,5,6,6,1,2
4,1,6,9,2,3,2,10,8,3,8,...,-1,7,3,8,1,5,6,6,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,-1,4,9,8,7,9,8,4,0,...,-1,7,3,8,1,5,6,6,1,2
96,8,2,6,5,6,6,8,5,8,8,...,-1,7,3,8,1,5,6,6,1,2
97,7,8,5,5,1,2,2,9,10,0,...,-1,7,3,8,1,5,6,6,1,2
98,6,-1,9,7,10,-1,4,5,4,6,...,-1,7,3,8,1,5,6,6,1,2
99,3,10,3,7,5,3,3,-1,2,9,...,-1,7,3,8,1,5,6,6,1,2

In [39]:
new_movie_matrix=np.random.randint(0,11,size=(10,50))
new_movie_matrix

array([[ 3,  7,  1,  0,  0,  2,  1,  1,  1,  1,  5,  4,  2,  3,  2,  1,
         2,  2, 10,  9,  1,  2,  3,  1,  8,  3,  2,  4,  7,  8,  7,  0,
         8,  4,  4,  8, 10,  3,  8,  0,  1,  2,  0, 10,  5,  7,  3,  4,
         1,  1],
       [10,  4,  5, 10,  5, 10,  0,  3,  8,  7,  3,  4,  6,  1,  8,  0,
         3,  8,  5,  7,  8, 10,  4, 10,  3,  4,  3,  9,  9,  7,  2,  4,
         6,  1,  5,  2,  4,  9,  7,  8,  6,  7,  2,  3,  5,  3,  6,  8,
         9,  9],
       [ 5,  5,  1,  0,  1,  2,  5,  8,  4,  8, 10,  7,  9,  8,  1,  6,
        10,  4,  8,  5,  4,  6,  5,  9,  8,  6,  7,  6,  6,  0,  3,  7,
         9,  8, 10,  2,  6,  5,  5,  3,  6,  9,  2, 10,  1,  2,  6,  2,
         3,  7],
       [ 8,  1,  5,  9,  9,  4,  9,  9,  1,  4, 10,  0,  2,  1,  4,  8,
         9,  9,  1,  3, 10,  7,  0,  5,  6,  4,  9,  5,  2,  9,  9, 10,
         1,  0,  1,  4,  1,  3,  5,  2,  0,  0,  4,  3,  4,  8,  0,  7,
         5,  5],
       [ 0,  8,  1,  8,  2,  2,  6, 10,  9,  0,  9, 10,  6,  0,  8,  7,
         1,  4,  9, 10,  4,  4,  1,  4,  1,  2,  7,  9,  6,  1,  4,  3,
        10, 10,  8,  7,  3,  1,  0,  8,  4,  1,  5, 10,  4,  6,  4, 10,
         2,  6],
       [ 2,  6,  1,  6,  5,  2,  2,  3,  1,  0,  5,  0,  3,  3,  6,  6,
         2,  9,  6,  6,  9,  5,  9,  9,  5,  6,  7,  8,  6,  9, 10, 10,
         0,  1,  3,  5,  6,  3,  3,  3, 10,  7,  7,  0,  5,  4,  6,  0,
         4,  1],
       [ 2,  3,  8,  1,  9,  3,  0,  8,  7,  8,  8,  7,  4,  5,  0, 10,
         9,  5,  6,  4,  7,  3,  4,  9, 10,  9,  3,  2, 10,  7,  5,  4,
         1,  3,  2,  4,  8,  7,  5,  1,  6,  5, 10,  0,  6,  9,  7,  2,
         4,  7],
       [ 5,  6, 10, 10,  4,  7,  9,  2,  5,  9,  2,  9,  4,  9,  2,  8,
         9,  3,  9,  8,  1,  6,  0,  8,  6, 10,  2,  3,  5,  4,  8,  4,
         1, 10,  7,  7,  5,  9,  9,  9,  4, 10,  2,  9,  0,  9,  3,  9,
         5,  2],
       [ 4,  8,  8,  0,  1,  4, 10,  0,  0,  6,  5,  9,  1,  4,  5,  3,
        10,  0, 10,  3,  5,  9,  0,  3,  0,  6,  9,  5,  0,  3,  4,  7,
         5,  0,  2,  8,  8,  0,  4,  1,  6,  8,  9,  6,  9,  0,  6,  0,
         2,  2],
       [ 8, 10,  0,  2,  3,  8,  6, 10,  0,  7,  8,  3, 10,  3,  2,  3,
         8,  0,  2,  9,  2,  8,  2,  3,  8,  9,  1,  0, 10,  3,  3,  4,
        10,  7,  7,  9, 10,  3,  6,  1,  4,  3, 10,  8,  9,  1,  7,  6,
         7,  0]])

In [50]:
for i in range(50):
    df[new_movie_id[i]] = np.random.randint(-1,11,size=(100,1050))  # Merging new movie id with rating =-1 in old dataframe

In [57]:
new_movie_matrix.shape

(10, 50)

In [51]:
df

,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,...,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350
0,2,3,8,9,0,1,2,9,3,0,...,7,4,8,-1,-1,2,8,0,-1,1
1,5,10,3,7,7,5,2,10,1,1,...,1,0,-1,5,10,10,0,2,4,10
2,1,4,8,8,10,6,-1,5,-1,1,...,8,5,-1,4,2,3,3,8,1,4
3,7,5,3,7,10,-1,4,2,9,8,...,7,7,2,9,7,4,3,1,9,3
4,1,6,9,2,3,2,10,8,3,8,...,2,-1,7,0,3,2,0,7,-1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,-1,4,9,8,7,9,8,4,0,...,2,3,7,4,0,0,8,6,0,9
96,8,2,6,5,6,6,8,5,8,8,...,1,2,5,4,2,6,10,1,2,8
97,7,8,5,5,1,2,2,9,10,0,...,3,8,2,7,3,0,1,10,-1,9
98,6,-1,9,7,10,-1,4,5,4,6,...,10,5,5,3,4,5,7,10,1,-1
99,3,10,3,7,5,3,3,-1,2,9,...,6,9,2,6,7,3,9,4,6,10

In [52]:
for i in range(10):
    expert_ratings = new_movie_matrix[i]
    random_movie_indexes = np.random.choice(range(50), size=10, replace=False)

    for j in range(10):
        df.at[random_movie_indexes[j], new_movie_id[i]] = expert_ratings[j]
        
df

,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,...,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350
0,2,3,8,9,0,1,2,9,3,0,...,7,4,8,-1,-1,2,8,0,-1,1
1,5,10,3,7,7,5,2,10,1,1,...,1,0,-1,5,10,10,0,2,4,10
2,1,4,8,8,10,6,-1,5,-1,1,...,8,5,-1,4,2,3,3,8,1,4
3,7,5,3,7,10,-1,4,2,9,8,...,7,7,2,9,7,4,3,1,9,3
4,1,6,9,2,3,2,10,8,3,8,...,2,-1,7,0,3,2,0,7,-1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,-1,4,9,8,7,9,8,4,0,...,2,3,7,4,0,0,8,6,0,9
96,8,2,6,5,6,6,8,5,8,8,...,1,2,5,4,2,6,10,1,2,8
97,7,8,5,5,1,2,2,9,10,0,...,3,8,2,7,3,0,1,10,-1,9
98,6,-1,9,7,10,-1,4,5,4,6,...,10,5,5,3,4,5,7,10,1,-1
99,3,10,3,7,5,3,3,-1,2,9,...,6,9,2,6,7,3,9,4,6,10

In [53]:
#final movie matrix with four col.
final_movie_rating=pd.DataFrame(df,columns=['Movie ID', 'Average rating', 'Number of ratings', 'Standard deviation of ratings'])
final_movie_rating

    Movie ID  Average rating  Number of ratings  Standard deviation of ratings
0        NaN             NaN                NaN                            NaN
1        NaN             NaN                NaN                            NaN
2        NaN             NaN                NaN                            NaN
3        NaN             NaN                NaN                            NaN
4        NaN             NaN                NaN                            NaN
..       ...             ...                ...                            ...
95       NaN             NaN                NaN                            NaN
96       NaN             NaN                NaN                            NaN
97       NaN             NaN                NaN                            NaN
98       NaN             NaN                NaN                            NaN
99       NaN             NaN                NaN                            NaN

[100 rows x 4 columns]

In [54]:
df.columns

Index([1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310,
       ...
       2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350],
      dtype='int32', length=1050)

In [55]:
final_movie_rating['Movie ID']=df.columns

ValueError: Length of values (1050) does not match length of index (100)

In [17]:
for movie_id in df.columns:
    if movie_id not in final_movie_rating['Movie ID'].values:
        ratings = random.randint(0,1000)
        avg_rating = np.mean(ratings)
        num_ratings = random.randint(0,1000)
        std_dev = np.std(ratings)
        final_movie_rating = final_movie_rating.append({'Movie ID': movie_id,
                                                            'Average rating': avg_rating,
                                                            'Number of ratings': num_ratings,
                                                            'Standard deviation of ratings': std_dev},
                                                           ignore_index=True)

# Display the final_movie_rating matrix
final_movie_rating.head(10)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
final_movie_rating.shape