In [140]:
# Statistics

In [141]:
import pandas as pd
df = pd.DataFrame({
                   "Apple" : [10,7,55,15,7,5],
                   "Orange" : [20,14,15,14,1,4],
                   "Banana" : [30,21,8,1,1,9],
                   "Pear" : [40,28,12,8,8,2],
}, index=[["Bag1","Bag2","Bag3","Bag4","Bag5","Bag6"]])

In [142]:
df

      Apple  Orange  Banana  Pear
Bag1     10      20      30    40
Bag2      7      14      21    28
Bag3     55      15       8    12
Bag4     15      14       1     8
Bag5      7       1       1     8
Bag6      5       4       9     2

In [143]:
from statistics import mean,median,mode

In [144]:
print("Calculating the mean")
for i in df.columns:
    print(i, mean(df[i]))

Calculating the mean
Apple 16.5
Orange 11.333333333333334
Banana 11.666666666666666
Pear 16.333333333333332

In [44]:
print("Calculating the median")
for i in df.columns:
    print(i, median(df[i]))

Calculating the median
Apple 8.5
Orange 14.0
Banana 8.5
Pear 10.0

In [45]:
print("Calculating the mode")
for i in df.columns:
    print(i, mode(df[i]))

Calculating the mode
Apple 7
Orange 14
Banana 1
Pear 8

In [46]:
df = pd.read_csv("Books.csv")

In [47]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

In [48]:
# 1. Initial Analysis
# info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         700 non-null    object
 1   Author       700 non-null    object
 2   User Rating  700 non-null    float64
 3   Reviews      700 non-null    int64
 4   Price        700 non-null    int64
 5   Year         700 non-null    int64
 6   Genre        700 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.4+ KB

In [49]:
#describe()
df.describe()

       User Rating        Reviews       Price         Year
count   700.000000     700.000000  700.000000   700.000000
mean      4.639857   19255.195714   12.700000  2015.500000
std       0.218586   23613.443875    9.915162     4.034011
min       3.300000      37.000000    0.000000  2009.000000
25%       4.500000    4987.250000    7.000000  2012.000000
50%       4.700000   10284.000000   11.000000  2015.500000
75%       4.800000   23358.000000   15.000000  2019.000000
max       4.900000  208917.000000  105.000000  2022.000000

In [66]:
#2. Group ques.
a =df.groupby(["Author"])[["User Rating","Price"]].mean()

In [71]:
a["Average_Price"] = a["Price"]

In [77]:
a

                    User Rating      Price  Average_Price
Author
Abraham Verghese            4.6  11.000000      11.000000
Adam Gasiewski              4.4   6.000000       6.000000
Adam Mansbach               4.8   9.000000       9.000000
Adam Silvera                4.7   8.000000       8.000000
Adam Wallace                4.8   6.250000       6.250000
...                         ...        ...            ...
William P. Young            4.6   8.000000       8.000000
Wizards RPG Team            4.8  27.000000      27.000000
Wonder House Books          4.6  16.000000      16.000000
Workman Publishing          4.8   7.666667       7.666667
Zhi Gang Sha                4.6  11.500000      11.500000

[305 rows x 3 columns]

In [82]:
#3.Mode
b = df["Author"].value_counts()
b
# Author Jeff Kinney & Gary Chapman has max books

Author
Jeff Kinney                           14
Gary Chapman                          14
Suzanne Collins                       12
Rick Riordan                          11
American Psychological Association    11
                                      ..
Randall Munroe                         1
Coloring Books for Adults              1
Chris Kyle                             1
Angie Grace                            1
Stephen Perrine                        1
Name: count, Length: 305, dtype: int64

In [83]:
#HR DATASET
df = pd.read_csv("HRDataset_v14.csv")

In [84]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [85]:
mean(df["Salary"])

69020.6848874598

In [86]:
median(df["Salary"])

62810

In [87]:
mode(df["Salary"])

57815

In [89]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [100]:
mode(df["Department"]) # or df["Department"].value_counts()

'Production       '

In [101]:
import numpy as np
std = np.std(df["Salary"])
std

25116.159611505253

In [102]:
var = np.var(df["Salary"])
var

630821473.6306077

In [103]:
#np.ptp gives range value = Max - Min
#np.percentile(df[""],50(which percentile you want),axis=0)
#np.quantile(df[""],0.75(which quartile),axis=0)

In [135]:
from scipy.stats import iqr,zscore,skew,kurtosis
a = df.groupby(["Department"])["Salary"].mean()
i = iqr(a)
i

26801.927865754304

In [108]:
df.skew(numeric_only=True)

EmpID                     0.000000
MarriedID                 0.415730
MaritalStatusID           1.408602
GenderID                  0.267278
EmpStatusID               0.631944
DeptID                   -1.536392
PerfScoreID              -1.248091
FromDiversityJobFairID    2.811250
Salary                    3.306181
Termd                     0.705404
PositionID               -1.231676
Zip                       4.105494
ManagerID                 0.759271
EngagementSurvey         -1.116979
EmpSatisfaction          -0.222609
SpecialProjectsCount      1.539271
DaysLateLast30            3.143468
Absences                  0.029283
dtype: float64

In [109]:
df.kurtosis(numeric_only=True)

EmpID                     -1.200000
MarriedID                 -1.839037
MaritalStatusID            2.053512
GenderID                  -1.941087
EmpStatusID               -1.488610
DeptID                     2.241434
PerfScoreID                4.049610
FromDiversityJobFairID     5.941296
Salary                    15.452149
Termd                     -1.512171
PositionID                 0.812346
Zip                       16.187425
ManagerID                  1.608422
EngagementSurvey           1.164560
EmpSatisfaction           -0.762600
SpecialProjectsCount       0.641415
DaysLateLast30             8.830523
Absences                  -1.301962
dtype: float64

In [111]:
z = zscore(df["Salary"])
z

0     -0.259382
1      1.410101
2     -0.161875
3     -0.160442
4     -0.724461
         ...
306   -0.124529
307   -0.816514
308    6.029159
309    0.807102
310   -0.954552
Name: Salary, Length: 311, dtype: float64

In [113]:
per = np.percentile(df["Salary"],30,axis=0)
per

57748.0

In [127]:
q = np.quantile(df["GenderID"],0.75,axis=0)
q

1.0